# Error exception

In [1]:
# code copy from datacamp
def divide(x,y):
    try:
        result = x/y
    except ZeroDivisionError:
        print("Please change 'y' argument to non-zero value")
    except:
        print("Something went wrong")
    else:
        print(f"Your answer is {result}")
    finally:
        print("\033[92m Code by DataCamp\033[00m")

In [2]:
divide(10,0)

Please change 'y' argument to non-zero value
 Code by DataCamp

In [3]:
divide(1,'hello')

Something went wrong
 Code by DataCamp

In [4]:
divide(100,20)

Your answer is 5.0
 Code by DataCamp

# nested Exception handling

In [8]:
def divide(x,y):
    
    try:
        value = 50
        x.append(value)
    
    except AttributeError as atr_err:
        print(atr_err)
        
    else:
        try:
            result = [i / y for i in x]
            print( result )
        except ZeroDivisionError:
            print("Please change 'y' argument to non-zero value")

    finally:
        print("\033[92m Code by DataCamp\033[00m")

In [13]:
divide([10,12],5)

[2.0, 2.4, 10.0]
 Code by DataCamp

In [14]:
return datacma

SyntaxError: 'return' outside function (3087138930.py, line 1)

In [15]:
def dun():
return fy

IndentationError: expected an indented block after function definition on line 1 (1450250614.py, line 2)

In [16]:
test = 1/0

ZeroDivisionError: division by zero

In [17]:
y = test

NameError: name 'test' is not defined

In [27]:
x=1
y=10
assert y != 10 ,"invalid , y not equal to 10"
print(x/y)

AssertionError: invalid , y not equal to 10

### EOFError

In [28]:
x = input()
print(x)

In [2]:
try:
    n = int(input("enter a vlaue"))
except EOFError:
    print("it occures when no input is entered")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
x = 10
x.append(9)

AttributeError: 'int' object has no attribute 'append'

In [6]:
try :
    x=10
    x.append(9)
except AttributeError as err:
    print(err)
    print('we cannot append in int data types')

'int' object has no attribute 'append'
we cannot append in int data types

In [9]:
numbers = [3.50, 4.90, 6.60, 3.40]

def s(purchases):
    total = sum(numbers)
     return total

total_numbers = s(numbers)
print(total_numbers)

IndentationError: unexpected indent (2848502086.py, line 5)

# basic exception

In [11]:
try:
    print(t)
except:
    print('error')

error

# multiple exception

In [12]:
try:
    x = 10/0
except ZeroDivisionError:
    print("10 is not divisable by zero")
except:
    print("this is another exception except zeroDivisionError")

10 is not divisable by zero

In [ ]:
string = 'hathi'
try:
    x = 10/string
except ZeroDivisionError:
    print("10 is not divisable by zero")
except ValueError:
    print("this is another exception except zeroDivisionError")

this is another exception except zeroDivisionError

In [14]:
try:
    with open('data.csv') as file:
        file.read()
except:
    print("\'data.csv\' not found")

'data.csv' not found

# try except else

In [15]:
try:
    x = 10/0
except ZeroDivisionError as err:
    print(err)
else:
    print("the result of x is "+x)

division by zero

In [17]:
try:
    x = 10/3
except ZeroDivisionError as err:
    print(err)
else:
    print(x)

3.3333333333333335

In [19]:
x = [5,8,9,13]

def find_thr_nth_valeu(x,n):
    try:
        result = x[n]
    except IndexError:
        print(f'{n} is greater than len of list x {len(x)}')

find_thr_nth_valeu(x,9)

9 is greater than len of list x 4

# finally

In [ ]:
def divide(x,n):
    try :
       result =  x/n
    except ZeroDivisionError:
        print('int is not divisable by 0')
    except:
        print("something else exception")
    else:
        print(f"the output is {result}")
    finally:
        print("this is finally , it\'s always runs")

In [21]:
divide(10,2)

the output is 5.0
this is finally , it's always runs

In [22]:
divide(20,0)

int is not divisable by 0
this is finally , it's always runs

In [23]:
divide(20,'hll')

something else exception
this is finally , it's always runs

## nested exception handling

In [37]:
# this is the example of nested exception

def nested_exception(x):
    try:
        if x>20:
            try:
                x.append(30)
            except AttributeError as err:
                print('err')
        else:
            raise ValueError('x value is must be greater than 20')
    except ValueError as err:
       print(err)

nested_exception(10)

x value is must be greater than 20

In [33]:
x = 100
if x >50:
    raise ValueError("x is must be less than 100")

ValueError: x is must be less than 100

In [34]:
value = 1200
if value>1000:
    raise Exception('add value lower than 1000')
else:
    print("done")

Exception: add value lower than 1000

In [42]:
def nested_exception(x):
    try:
        if x>20:
            try:
                x.append(30)
            except AttributeError as err:
                print(err)
    except:
       print('err')

nested_exception(30)

'int' object has no attribute 'append'

In [ ]:
def greet(someone):
    print("hello"+somen)
greet('chad')

NameError: name 'somen' is not defined

In [54]:
try:
    x=10/0
except Exception as e:
    print(e)
    print(type(e))

division by zero
<class 'ZeroDivisionError'>