### 1. Given two lists of numbers, concatenate them into a single list

In [23]:
list1 = [1,2,3,4,5,6,7,8,0]
list2 = [8,4,5,6,3,4,0,91]
new_list = list1+list2
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 0, 8, 4, 5, 6, 3, 4, 0, 91]

In [24]:
# second method
# new = list1.extend(list2)
# print(list1)

### 2. Write a program that finds the largest and smallest elements in a list

In [259]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 0]

In [262]:
max = 0
for item in list1:
    if item > max:
        max=item
print(max)
min = 0
for item in list1:
    if item < min:
        min=item
print(min)

8
0

In [26]:
largest_element = max(list1)
smallest_element = min(list1)
print(largest_element,smallest_element)

8 0

### 3. Implement a function that takes a list of numbers and returns a new list with the squared values

In [27]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 0]

In [28]:
def sqaure(list):
    squared_list = []
    for i in list:
        squared_list.append(i**2)
    return print(squared_list)
sqaure(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 0]

### 4. Create a program that finds the common elements between two lists and stores them in a new list

In [33]:
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 0]
[8, 4, 5, 6, 3, 4, 0, 91]

In [36]:
new_list =[]
for i in list1:
    if i in list2:
        new_list.append(i)
print(new_list)

[3, 4, 5, 6, 8, 0]

### 5. Given a list of words, find the word with the maximum length and its length

In [43]:
list_of_words = ['applw','tomato','beljian','chcocochips','aeroplane','helmet']
max=0
word=''
for i in list_of_words:
    if len(i)> max:
        max = len(i)
        word =i
print(word,max)

chcocochips 11

### 6. Write a Python program to count the occurrences of each element in a given list

In [49]:
given_list =[2,3,4,5,6,7,8,9,2,3,4,5,6,7,8,9,2,3,4,5,6,7,78,1,3,4,5,6,6,7,8,99,'Devarsh','rathod','mohit','kali','devo','bhopu','sanko','bhopo','sanko','kalu','hwllo','wp']

In [55]:
create_set = list(set(given_list))
print(create_set)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Devarsh', 'rathod', 'sanko', 'wp', 'kalu', 'devo', 'bhopo', 78, 'bhopu', 'hwllo', 99, 'mohit', 'kali']

In [56]:
for i in create_set:
    if i in given_list:
        print(f'{i}:{given_list.count(i)}')

1:1
2:3
3:4
4:4
5:4
6:5
7:4
8:3
9:2
Devarsh:1
rathod:1
sanko:2
wp:1
kalu:1
devo:1
bhopo:1
78:1
bhopu:1
hwllo:1
99:1
mohit:1
kali:1

### 7. Given a list of names, remove all duplicate names and print the unique names

In [58]:
list_of_duplicate_name = ['Devarsh','rathod','mohit','kali','devo','bhopu','sanko','bhopo','sanko','kalu','hwllo']
unique_name = list(set(list_of_duplicate_name))
print(unique_name)

['hwllo', 'Devarsh', 'rathod', 'sanko', 'kalu', 'mohit', 'bhopu', 'devo', 'bhopo', 'kali']

### 8. Create a function that takes a list of strings and returns the list sorted by the length of the strings

In [92]:
list_of_duplicate_name = ['Devarsh','rathod','mohit','kali','devo','bhopu','sanko','bhopo','sanko','kalu','hwllo']
# x=[]
# y=[]
# for item in list_of_duplicate_name:
#     x.append(len(item))
# print(x)
# x = sorted(x)
# for i in x:
#      y.append(list_of_duplicate_name[i])
# print(y)
# print(list_of_duplicate_name)
# print(x)
def fun(li):
    return len(li)
def sorted_list_by_length(li):
    li.sort(key=fun)
    return li

sorted_list_by_length(list_of_duplicate_name)

['kali',
 'devo',
 'kalu',
 'mohit',
 'bhopu',
 'sanko',
 'bhopo',
 'sanko',
 'hwllo',
 'rathod',
 'Devarsh']

### 9. Write a program that checks if a given list is sorted in ascending order

In [282]:
integer_wali_ist = [9,8,7,6]
# integer_wali_ist = [1,2,3,4,5]

def isSorted_list(input_list):
    li = sorted(input_list)
    if integer_wali_ist == li:
        print('yes')
    else:
        print('no')
isSorted_list(integer_wali_ist)

no

### 10. Implement a function that takes two lists and returns their union (all unique elements from both lists).

In [111]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 0]

In [112]:
list2

[8, 4, 5, 6, 3, 4, 0, 91]

In [113]:
union = set(list1) | set(list2)
print(union)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 91}

### 11. Given two dictionaries, merge them into a single dictionary

In [127]:
dict1={'devarsh':22,"mohit":23,"bhopo":22}
dict2 ={'sanko':21,'kalpo':21,'vatsal':24}
dict1.update(dict2)
print(dict1)

{'devarsh': 22, 'mohit': 23, 'bhopo': 22, 'sanko': 21, 'kalpo': 21, 'vatsal': 24}

<!-- using ** asterick method -->

In [133]:
new_dict = {**dict2,**dict1}
print(new_dict)

{'sanko': 21, 'kalpo': 21, 'vatsal': 24, 'devarsh': 22, 'mohit': 23, 'bhopo': 22}

### 12. Write a program that finds the most frequent element in a list

In [249]:
# give_list = [2,3,4,5,3,3,9,7,3,9]
# x=0
# for i in give_list:
#     x = give_list.count(i)
# print(x)

### 13. Implement a function that removes a key-value pair from a dictionary

In [154]:
dict1={'devarsh':22,"mohit":23,"bhopo":22}
del dict1['bhopo']
print(dict1)

{'devarsh': 22, 'mohit': 23}

### 14. Create a program that checks if two sets have any elements in common

In [155]:
set1 ={1,4,7,9,22,11,66}
set2 ={2,6,4,9,10,7}
result = set1 & set2
print(result)

{9, 4, 7}

### 15. Given a list of dictionaries, find the dictionary with the highest value for a specific key

In [285]:
list_of_dictionary = [ {'name':'Devarsh', 'age':22},
                      {'name':'Mohit','age':23},
                      {'name':'Avinash','age':29} 
                      ]
age = 0
value=0
for dictionaty in list_of_dictionary:
    for key,value in dictionaty.items():
        if key == 'age':
            if(key > 'age'):
                age = key
                value= value
print(key,value)

# for i in list:
#     print(i)

age 29

### 16. Write a Python program that counts the number of occurrences of each character in a given string using a dictionary

In [ ]:
string_dictionary = {
    'name':'hello hello'
}
counting = []
value_list = []
for value in string_dictionary.values():
   for char in value:
      if char not in value_list:
         value_list.append(char)
         counting.append(value.count(char))

new_dictionary= dict(zip(value_list,counting))
print(new_dictionary)

{'h': 2, 'e': 2, 'l': 4, 'o': 2, ' ': 1}

### 17. Given two sets, find the union, intersection, and difference between them

In [198]:
set1 = {1,2,3,4,0.10,20,-20}
set2 = {56,78,90,-90,-34,.90,7,3,10}
union = set1 | set2
intersection = set1 & set2
diff = set1 - set2
print(f'union {union}')
print(f'intersection {intersection}')
print(f'diff {diff}')

union {0.1, 1, 2, 3, 4, 0.9, 7, 10, 78, 20, 90, -34, -90, -20, 56}
intersection {3}
diff {0.1, 1, 2, 4, -20, 20}

### 18. Create a function that takes a list of dictionaries and sorts them based on a specified key

In [337]:
list_of_dictionary = [ {'name':'Avinash','age':29} ,
                      {'name':'Devarsh', 'age':22},
                      {'name':'Mohit','age':23},
                      ]
def myfunc(e):
    return e['age']
# dictionary does not have a sorting method
new_dictionary = sorted(list_of_dictionary,key=myfunc)
print(new_dictionary)

[{'name': 'Devarsh', 'age': 22}, {'name': 'Mohit', 'age': 23}, {'name': 'Avinash', 'age': 29}]

### 19. Write a program that finds the average value of all the elements in a list of dictionaries

In [ ]:
list_of_dictionary = [ {'name':'Devarsh', 'age':22},
                      {'name':'Mohit','age':23},
                      {'name':'Avinash','age':29} 
                      ]
def average(list_of_dictionary):
    sum = 0
    list =[]
    for dictionary in list_of_dictionary:
        list.append(dictionary['age'])
    n = len(list)
    for item in list:
        sum = sum + item
    average = sum / n
    return average
result = average(list_of_dictionary)
print(result)

24.666666666666668

### 20. Implement a function that takes a list of strings and returns a set of unique characters in all strings.

In [341]:
list10 = ['navjivan' ,'narayan' ,'hillock' ,'chandkheda']
empty_list10 =[]
def unique_char_of_string(li):
    for string in li:
        empty_set = set()
        for char in string:
            empty_set.add(char)
        empty_list10.append(empty_set)
    return empty_list10
unique_char_of_string(list10)

[{'a', 'i', 'j', 'n', 'v'},
 {'a', 'n', 'r', 'y'},
 {'c', 'h', 'i', 'k', 'l', 'o'},
 {'a', 'c', 'd', 'e', 'h', 'k', 'n'}]