# Memory management

In [2]:
a = 256
b=256
print(a is b)

True

In [3]:
a = 257
b = 257
print(a is b)

False

In [4]:
a = []
b = []
print(a is b)

False

In [6]:
a = ()
b = ()
print(a is b)
print(type(a))

True
<class 'tuple'>

In [7]:
a,b = 257,257
print(a is b)

True

In [ ]:
class b:
    pass
# here two empty objcets of b class is locate in different memory location
print(b() is b())

False

In [14]:
print(id(257))
a=257
print(id(a))

2480496391088
2480496392944

In [21]:
# now see here for -5 to 256 numbers
print(id(256))
a= 256 
print(id(a))

# another example
print(id(-5))
a = -5
print(id(a))
# let's take another example which is out of -5 to 256 
print(id(-6))
a=-6
print(id(a))
# here above for -6 there are allocate in different memory allocation
# mow let's see memory referencing
a = -6
b =a
print(id(a))
print(id(b))
# conclusion->> between -5 to 256 have special memory allocation in pyhton 
# because without doing a=b just taking value same and they are refering the same value point 
# and in another case where out of (-5,256) giving same value but they don't point the same id
# here's one example

a=10
b=10
print(id(a))
print(id(b))
# and out of range
a = 1000
b = 1000
print(id(a))
print(id(b))

140734302565128
140734302565128
140734302556776
140734302556776
2480497919408
2480497919568
2480497918096
2480497918096
140734302557256
140734302557256
2480497918608
2480497918384

## python pass by object reference

In [25]:
def sum(number1,number2):
    number1 = number1 + number2
    return number1
num1 = 20
num2 = 30
print(f"before updating {num1}")
result_of_sum = sum(num1,num2)
print(f"after updating {num1}")

before updating 20
after updating 20

In [26]:
# now take one list -> because list is mutable

alphabatical_list = ['a','b','c','d','e']

def append_the_alphabatic(xhar,list_alphabatic):
    list_alphabatic.append(xhar)
    return
print(f'before updaing list {alphabatical_list}')
append_the_alphabatic('s',alphabatical_list)
print(f'after updaing list {alphabatical_list}')

before updaing list ['a', 'b', 'c', 'd', 'e']
after updaing list ['a', 'b', 'c', 'd', 'e', 's']