In [8]:
from collections import namedtuple

In [1]:
divmod(12,5)

(2, 2)

In [33]:
# above divmode return tuple , can you understand that?
# because there is not mention it

# now we are create a readable using namedtuple module

def custom_devmod(x,y):
    Divmod = namedtuple("DIV","quotiennt remainder")
    return Divmod(*divmod(x,y))

In [34]:
custom_devmod(12,5)

DIV(quotiennt=2, remainder=2)

In [35]:
result = custom_devmod(25,5)
result

DIV(quotiennt=5, remainder=0)

In [36]:
result.quotiennt

5

In [37]:
result.remainder

0

In [18]:
divmod(12,5)

(2, 2)

In [21]:
print(*divmod(12,5))

2 2

## create new tuple subclass using namedtuple

In [52]:
# using list of strings as a field name

list_of_string = ["first","second"]
object = namedtuple("coordinates",list_of_string)
obj1 = object(180,270)

In [53]:
obj1

coordinates(first=180, second=270)

In [54]:
obj1.first

180

In [55]:
obj1.second

270

In [59]:
# use a generator expression as a field names
obj2 = namedtuple("tuplename",[fieldname for fieldname in "xy"])
z = obj2(20,400)
print(z)
print(z.x)
print(z.y)

tuplename(x=20, y=400)
20
400

In [60]:
# # Use a string with comma-separated field names
obj3 = namedtuple('tuplename',"x,y")
v = obj3(222,333)
print(v)
print(v.x)

tuplename(x=222, y=333)
222

In [61]:
# >>>  Use a string with space-separated field names
obj4 = namedtuple("tuplename","x y")
b = obj4(47,93)
print(b)
print(b.x)

tuplename(x=47, y=93)
47

In [66]:
# create a namedtuple for person which have name and job

person = namedtuple("prson","name job",defaults=['python developer'])

p1 = person("mohit","trader")
print(p1)
p2 = person("Avinash","python develo...")
print(p2)
p3 = person("Deva")
print(p3)

prson(name='mohit', job='trader')
prson(name='Avinash', job='python develo...')
prson(name='Deva', job='python developer')

In [ ]:
# create a dictionary from a namedtuple
print(p3)
print(type(p3))
p3._asdict() # -->this is a dictionary format

prson(name='Deva', job='python developer')
<class '__main__.prson'>

{'name': 'Deva', 'job': 'python developer'}