In [2]:
print('Printing in a Nutshell', end='*\n ')
print('Calling Print', end='\n * ')
print('Separating Multiple Arguments', end='\n * ')
print('Preventing Line Breaks')

Printing in a Nutshell*
 Calling Print
 * Separating Multiple Arguments
 * Preventing Line Breaks

four methods
all firts three method remove whitespaces and new line
strip - from both end and start
lstrip - from begining only
rstrip - from end only
replace - it's different from above three

In [7]:
text = "\n\n  Hello, W\norld!  \n\n"
clean_text = text.strip()
print(clean_text)  # Output: "Hello, World!"

Hello, W
orld!

In [ ]:
text = "Hel lo\n World\n"
clean_text = text.replace(" ", "")
print(clean_text)  # Output: "HelloWorld"

Hello
World

In [4]:
with open('file.txt', mode='w') as file_object:
    print('hello world', file=file_object)

In [2]:
with open('file.dat', 'wb') as file_object:
    file_object.write(bytes(4))
    file_object.write(b'\xff')

In [5]:
with open('file.txt', mode='a', encoding='iso-8859-1') as file_object:
    print('über naïve café', file=file_object)

In [7]:
with open('file.txt', mode='a', encoding='utf-8') as file_object:
    print('über naïve café', file=file_object)

In [30]:
from collections import namedtuple
person = namedtuple('person','name carname age')
mohit = person("Devarsh","gwagon",22)
print(mohit)
print(type(mohit))
print("this is the custom data type example \
")

person(name='Devarsh', carname='gwagon', age=22)
<class '__main__.person'>
this is the custom data type example

In [14]:
from collections import namedtuple
Person = namedtuple('Person', 'name age')
doe = Person('John Doe', 42)
print(jdoe)
Person(name='John Doe', age=42)

Person(name='John Doe', age=42)

Person(name='John Doe', age=42)

In [35]:
repr(mohit)

"person(name='Devarsh', carname='gwagon', age=22)"

In [32]:
str(mohit)

"person(name='Devarsh', carname='gwagon', age=22)"

In [44]:
print

In [46]:
# carriage return
print("hello \r zindagi")

 zindagi

In [47]:
print("hello\bzindagi")

hellzindagi