In [50]:
class employee:
    num_of_emp = 0
    raise_amount = 1.05

    def __init__(self,first_name,last_name,salary):
        self.first_name = first_name
        self.last_name = last_name
        self.salary = salary
    def __str__(self):
        return f"firstName:{self.first_name}, last name {self.last_name}, salary {self.salary}"
    def fullName(self):
        print(f"{self.first_name} {self.last_name}")
    def updated_salary(self):
        print(f'before increment {self.salary}')
        self.salary = self.salary*self.raise_amount
        return self.salary
    # if i want to change in the class level variable then i nedd to doing through class method
    @classmethod
    def change_raise(cls):
        cls.raise_amount = 1.9

In [51]:
# create a object
emp1 = employee('Mohit','prajapati',1_00_000)
print(emp1)

firstName:Mohit, last name prajapati, salary 100000

In [11]:
employee.fullName(emp1)

Mohit prajapati

In [12]:
# either 
emp1.fullName()

Mohit prajapati

In [23]:
emp1.updated_salary()

before increment 100000

105000.0

In [24]:
emp2 = employee('Avinash','prajapati',1_20_000)

In [25]:
emp2.updated_salary()

before increment 120000

126000.0

In [26]:
emp1.__dict__

{'first_name': 'Mohit', 'last_name': 'prajapati', 'salary': 105000.0}

In [27]:
emp2.__dict__

{'first_name': 'Avinash', 'last_name': 'prajapati', 'salary': 126000.0}

In [28]:
employee.__dict__

mappingproxy({'__module__': '__main__',
              'num_of_emp': 0,
              'raise_amount': 1.05,
              '__init__': <function __main__.employee.__init__(self, first_name, last_name, salary)>,
              '__str__': <function __main__.employee.__str__(self)>,
              'fullName': <function __main__.employee.fullName(self)>,
              'updated_salary': <function __main__.employee.updated_salary(self)>,
              '__dict__': <attribute '__dict__' of 'employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'employee' objects>,
              '__doc__': None})

In [60]:
print(employee.raise_amount)

1.9

In [55]:
employee.change_raise()

In [56]:
print(employee.raise_amount)

1.9

In [57]:
print(emp1.raise_amount)

1.9

In [61]:
print(emp2.raise_amount)

1.05